.SoundSourceOptions label {
    text-align: right;
    font-size: 130%;
}

.SoundSourceOptions ._panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 0.5em;
}

.SoundSourceOptions ._test-patches button {
    margin-right: 1em;
}