#PatchPlayer {
    z-index: 10;
    font-family: 'Rajdhani';
    font-size: 18px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --bg-color1: #111;
    --bg-color2: #2C2C2C;
    --fg-color1: #515151;
    --fg-color2: #aaa;
    --fg-color3: white;
    color: var(--fg-color2);
    text-transform: uppercase;
}

#PatchPlayer > div {
    background-color: var(--bg-color1);
}

#PatchPlayer #splash-container {
    font-family: 'Silkscreen';
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(1, 1, 1, 0.7);
}

#PatchPlayer #splash-container button {
    font-family: 'Silkscreen';
}

#PatchPlayer #credits {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding: 1em;
    z-index: 2;
}

#PatchPlayer #credits .content {
    display: none;
    border-top: solid 1px;
    padding-top: 0.5em;
    margin-top: 0.5em;
}

#PatchPlayer #credits.expanded .content {
    display: block;
}

#PatchPlayer #credits button {
    background: none;
    border: none;
    cursor: pointer;
}

#PatchPlayer #start, #PatchPlayer #loading {
    font-family: 'Silkscreen';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
    font-size: 250%;
    @media (max-width: 700px) {
        font-size: 150%;
    }
    cursor: pointer;
    text-transform: uppercase;
}

#PatchPlayer #controls-root {
    position: relative;
}

#PatchPlayer .controls-container {
    position: absolute;
}

#PatchPlayer .controls-container, #PatchPlayer .comment {
    padding: 0.2em;
    background-color: var(--bg-color2);
    border-radius: 0.3em;
    box-shadow: 5px 6px 2px 0px rgba(34, 34, 34, 0.75);
}

#PatchPlayer .controls-container > .label {
    color: var(--fg-color3);
    font-size: 85%;
    position: absolute;
    top: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
}

#PatchPlayer .control {
    position: absolute;
    background-color: var(--bg-color2);
}

#PatchPlayer .control input {
    font-family: 'Rajdhani';
}

#PatchPlayer .control.bng, #PatchPlayer .control.tgl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#PatchPlayer .comment {
    position: absolute;
    color: var(--fg-color3);
}

#PatchPlayer .label {
    font-size: 70%;
    text-transform: uppercase;
}